.icon {
    display: inline-block;
    background: url('icons.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;

    &_style {
        &_speech { background-position: -0px -0px; width: 63px; height: 61px; }
        &_alarm { background-position: -0px -61px; width: 32px; height: 31px; }
        &_book { background-position: -0px -92px; width: 32px; height: 32px; }
        &_bullseye { background-position: -0px -124px; width: 32px; height: 32px; }
        &_computer-ok { background-position: -0px -156px; width: 32px; height: 28px; }
        &_home { background-position: -0px -184px; width: 32px; height: 31px; }
        &_image { background-position: -0px -215px; width: 32px; height: 32px; }
        &_line-graph { background-position: -0px -247px; width: 32px; height: 32px; }
        &_users { background-position: -0px -279px; width: 32px; height: 23px; }
        &_picture { background-position: -32px -61px; width: 30px; height: 30px; }
        &_equalizer { background-position: -32px -91px; width: 28px; height: 32px; }
        &_arrow-down { background-position: -32px -123px; width: 22px; height: 12px; }
        &_arrow-up { background-position: -32px -135px; width: 22px; height: 12px; }
    }
}