.icon {
    display: block;

    &_style {
        &_team-logo {
            background-image: url('users.png');
            background-repeat: no-repeat;
            background-position: center center;
            width: 32px;
            height: 23px;
        }
    }
}