.about {
    &__story {
        text-align: center;
    }

    &__caption {
        @media screen and (min-width: 768px) {
            margin-top: 1.5em;
        }

        @media screen and (min-width: 1024px) {
            margin-top: 2.5em;
        }
    }

    &__tab-list {
        .max-width-rem(1200);

        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;

        & > .tab-list__item {
            width: 100%;

            @media screen and (min-width: 520px) {
                // in original design there are 3 images with width = 383px, container width = 1200px
                // 383 / 1200 * 100% = 31.916666666%
                width: 31.916666666%;
            }
        }
    }

    &__image-link {
        &:hover .cover-panel {
            opacity: 1;
        }

        &:hover .cover-panel,
        &:hover .image-link__image {
            @media screen and (min-width: 520px) {
                transform: translateY(-10px);
            }

            @media screen and (min-width: 1220px) {
                transform: translate(-10px, -10px);
            }
        }
    }
}