.page {

    & *,
    & *::after,
    & *::before {
        box-sizing: border-box;
    }
    
    font-size: 100%;

    &__header {
        @media screen and (min-width: 768px) {
            .padding-top-rem(16);
        }
    }

    &__testimonials,
    &__logos {
        .margin-top-rem(24);
        .padding-top-rem(24);
        .padding-bottom-rem(24);

        @media screen and (min-width: 768px) {
            .margin-top-rem(50);
            .padding-top-rem(48);
            .padding-bottom-rem(48);
        }

        @media screen and (min-width: 1024px) {
            .margin-top-rem(90);
            .padding-top-rem(72);
            .padding-bottom-rem(72);
        }

        background-color: #f8f8f8;
    }
}