.image-tab-list {
    &__image-link {
        &:hover .cover-panel {
            opacity: 1;
        }

        &_onhover_left-top-shift {
            &:hover .cover-panel,
            &:hover .image-link__image {
                @media screen and (min-width: 520px) {
                    transform: translateY(-10px);
                }
    
                @media screen and (min-width: 1220px) {
                    transform: translate(-10px, -10px);
                }
            }
        }
    }
}